@font-face {
    font-family: 'grand_hotelregular';
    src: url('webfontkit-20250127-173617/grandhotel-regular-webfont.woff2') format('woff2'),
         url('webfontkit-20250127-173617//grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
}

.big-container{
    background-color: #f0eeee;
    width: 60vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.picture-part{
    background-image: url(hong-zhao-eGnfcEfkP04-unsplash.jpg);
    width: 40%;
    background-size: cover;
    display: flex;
    flex-direction: column;
   
}

.picture-part :first-child{
    background-color: rgba(0,0,0,0.4);
    height: 20%;
    margin-top: 25%;
    font-family: 'grand_hotelregular';
    font-size: 100px;
    color:aliceblue;
    padding-left: 25%;
}

.picture-part :last-child{
    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    margin-top: 500px;
    height: 5%;
    padding-left: 25%;
    padding-top: 2%;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.form-part{
    width:60%;
    display:flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-part div{
    height: 33%;
}

.form-part div:nth-child(2){
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 2px 0 rgba(83, 83, 83, 0.062);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0px 80px;
    align-items: center;
    padding-left: 50px;
}

.form-part div:first-of-type{
    font-size:larger;
    font-weight: bold;
    padding: 150px 50px;
    line-height: 1.6;
    

}

input {
    height: 35px;
    font-size:small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 190px;
}

.form-part div:last-of-type {
    padding: 30px 50px;
    line-height: 50px;
}

button{
    height: 50px;
    font-size: large;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(236, 167, 142);
    color:#f0eeee;
    font-weight: bold;
    border-color: rgb(236, 167, 142);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-part div:last-of-type em{
    color: rgb(236, 167, 142);
}

input:invalid{
    border-color: red;
    background-color: rgb(233, 202, 191);
}

input:focus{
    border-color: rgb(110, 177, 216);
    box-shadow: 3px 3px darkslategrey;
    background-color: beige;
}

input:valid{
    border: 2px solid green;
    background-color: beige;
}